.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdownToggle {
  color: #fff !important;
  border-color: black !important;
  border-radius: 50% !important;
  display: contents !important;
  height: 24px !important;
  width: 24px !important;
}
